{% extends "layout.html" %}
{% block content %}



<script type="text/javascript" src ="../static/protovis.min.js"> </script>
 <script type="text/javascript" src="../static/facebookData/{{ f_id }}/{{ f_id }}.js"></script>
<script>
    var MyApp = {}; // Globally scoped object

    function visible(clicked_id) {

    MyApp.publicVariable = clicked_id;


    if (document.getElementById(MyApp.publicVariable+'text').type == 'hidden'){
        document.getElementById(MyApp.publicVariable+'text').type="text";
        document.getElementById(MyApp.publicVariable+'text').focus();
    } else {
        document.getElementById(MyApp.publicVariable+'text').type="hidden";
    }

    return this.publicVariable;
    }

    function change(b){
        var newHTML = '<input type="hidden" onclick="visible(visible.publicVariable)" id="'+ MyApp.publicVariable+'text' + '"  onkeydown="if (event.keyCode == 13) change();">';
        document.getElementById(MyApp.publicVariable).innerHTML = newHTML + document.getElementById(MyApp.publicVariable+'text').value ;
        //document.getElementById('test').innerHTML += document.getElementById('txt').value ;
    }

    //SLUTTEN

</script>
<div id="wrapper">
    <!--- antall commnities, antall friends, biggest community -->
    <h2 style="color: #3a589b" title="This is an overview of your network. You may move the nodes in the graph as you please."> Your Facebook Network </h2>
    <p>
        Scroll down for more information about your facebook network, or hoover the mouse cursor over the
        "nodes" too see who the nodes are representing.
    </p>
    <!-- find longest path -->
    <div id="graph" style="text-align: center; ">
        <script type="text/javascript+protovis">
            function nodeColor(group) {
                if (group == "0")
                    return "#1f77b4";
                else if (group == "1")
                    return "#aec7e8";
                else if (group == "2")
                    return "#ff7f0e";
                else if (group == "3")
                    return "#ffbb78";
                else if (group == "4")
                    return "#2ca02c";
                else if (group == "5")
                    return "#98df8a";
                else if (group == "6")
                    return "#d62728";
                else if (group == "7")
                    return "#ff9896";
                else if (group == "8")
                    return "#9467bd";
                else if (group == "9")
                    return "#c5b0d5";
                else if (group == "10")
                    return "#8c564b";
                else if (group == "11")
                    return "#c49c94";
                else if (group == "12")
                    return "#e377c2";
                 else if (group == "13")
                    return "#f7b6d2";
                else if (group == "14")
                    return "#7f7f7f";
                else if (group == "15")
                    return "#c7c7c7";
                else if (group == "16")
                    return "#bcbd22";
                else if(group == "17")
                    return "#dbdb8d";
                else if(group == "18")
                    return "#17becf";
                else if(group == "19")
                    return "#9edae5";
                else
                    return "white";
            }


            var w = document.body.clientWidth,
                h = document.body.clientHeight,
                colors = pv.Colors.category19();

            var vis = new pv.Panel()
            .width(1000)
            .height(1000)
            .fillStyle("rgba(0,0,0,.001)")

	        .top(-500)
	        .left(-500)
                .event("mousedown", pv.Behavior.pan()) //dra funksjonen denne og, aktiveres for mer gøy

                .event("mousewheel", pv.Behavior.zoom());

            var force = vis.add(pv.Layout.Force)
                .nodes(fbGraph.nodes)
                .links(fbGraph.links)
                .springConstant(0.05)

                .iterations(100)	//slå denne på for å ha et ikke bevegelig bilde, mer "brukervaennelig kanskje"
                .springLength(0.05)
                .chargeConstant(-40)
                .dragConstant(1)
                .springDamping(0.05)


            force.link.add(pv.Line);

            force.node.add(pv.Dot)
                .size(function(d) (d.linkDegree + 4) * Math.pow(this.scale, -1.5))
                .fillStyle(function(d) nodeColor(d.group))
                .strokeStyle(function() this.fillStyle().darker())
                .lineWidth(1)
                .title(function(d) d.name)
                .event("mousedown", pv.Behavior.drag()) //dra-funskjonen, gjør det laggy
                .event("drag", force); //same thing as above
            vis.transform(pv.Transform.identity.scale(1.5));
            vis.render();

        </script>
    </div>
    <!--- Hent litt morro info -->
<br/><br/>
    <h2 style="color: #3a589b;" title="Here you have an overview of your most and least important friends."> Fun facts about your facebook network </h2>
    <p id="density" title="The density is to check how dense a graph is"> Density of the graph is: {{ density }}</p>
    <br/><br/><br/>
    <table>
        <tr>
            <th style="text-align: left;">Picture</th>
            <th style="text-align: left;"> ID  </th>
            <th style="text-align: left;"> Name </th>
            <th style="text-align: left;"> Mutual Friends </th>
            <th style="text-align: left;"> Degree Centrality </th>
        </tr>
        <tr>
            <br/>
        <h2 style="text-align:center;" title="These are your 5 most important friends. The higher number of mutual friends, the better."> 5 most important friends </h2>
        <p>________________________________________________________________________________________________</p>


        <br/>
        </tr>

            {% for p in most_important %}
            <tr>
            <td width="200px" ><img src="https://graph.facebook.com/{{ p.id }}/picture"></img> </td>
            <td width="200px">  {{ p.id }}  </td>
            <td width="200px"> {{ p.name }} </td>
            <td width="200px"> {{ p.degree }}  </td>
            <td width="200px"> {{ p.degree_betweness_centrality }} </td>
            </tr>
           {% endfor %}

        </tr>
    </table>

    <br/>
    <h2 style="text-align:center;" title="These are your 5 least important friends. You and them have few or none friends in common."> 5 least important friends </h2>
     <p>________________________________________________________________________________________________</p>

    <br/>
    <table>
         <tr>
            <th style="text-align: left;">Picture</th>
            <th style="text-align: left;"> ID  </th>
            <th style="text-align: left;"> Name </th>
            <th style="text-align: left;"> Mutual Friends </th>
            <th style="text-align: left;"> Degree Centrality </th>
        </tr>
        <tr>

            {% for p in smallest_node %}
            <tr>
            <td width="200px"><img src="https://graph.facebook.com/{{ p.id }}/picture"></img> </td>
            <td width="200px">  {{ p.id }}  </td>
            <td width="200px"> {{ p.name }} </td>
            <td width="200px"> {{ p.degree }}  </td>
            <td width="200px"> {{ p.degree_betweness_centrality }} </td>
            </tr>
           {% endfor %}
    </table>
</div>
    <div id="communityInformation">
      <!--- Skrive ut alle communtiteis --->
    <h2>Communities </h2>
    <p style="font-size: 16px;">Number of communities: {{ communities + 1 }}</p>
    </div>
      {% for x in range(communities + 1)%}
            <table style="float: left; margin-left: 5px; font-size: 12px; background-color:#EBEBEB;" title="These are the communites. You can change the colum-name by clicking on the column.">
            <tr><th style=" background-color:{{ c[x+1]}};"  id="{{x}}" onclick="visible(this.id)">  {{ x }} <input type="hidden" onclick="visible()" id="{{ x }}text"  onkeydown="if (event.keyCode == 13) change();"></th></tr>
                {% for person in list_of_people %}
                    {% if x == person.community %}
                        <tr><td><img src="https://graph.facebook.com/{{ person.id }}/picture"></img>  <a href="http://www.facebook.com/{{ person.id }}" target="_blank">{{ person.name }}</a> </td></tr>
                </tr>
            {% endif %}
        {% endfor %}
          </table>
      {% endfor %}
</div>
{% endblock %}