{% extends "layout.html" %}
{% block content %}


<script type="text/javascript" src ="../static/protovis.min.js"> </script>
 <script type="text/javascript" src="../static/facebookData/{{ f_id }}/{{ f_id }}.js"></script>

<div id="wrap">
    <!--- antall commnities, antall friends, biggest community -->
    <h1> Your Facebook Network </h1>
    <p style="font-size: 16px">Scroll down for more information about your facebook network, or hoover the mouse cursor over the
                               "nodes" too see who the nodes are representing.</p>

    <!-- find longest path -->
<div style="text-align: center; border: 2px solid gray; ">
<script type="text/javascript+protovis">
function nodeColor(group) {


    if (group == "0")
        return "#1f77b4";
    else if (group == "1")
        return "#aec7e8";
    else if (group == "2")
        return "#ff7f0e";
    else if (group == "3")
        return "#ffbb78";
    else if (group == "4")
        return "#2ca02c";
    else if (group == "5")
        return "#98df8a";
    else if (group == "6")
        return "#d62728";
    else if (group == "7")
        return "#ff9896";
    else if (group == "8")
        return "#9467bd";
    else if (group == "9")
        return "#c5b0d5";
    else if (group == "10")
        return "#8c564b";
    else if (group == "11")
        return "#c49c94";
    else if (group == "12")
        return "#e377c2";
     else if (group == "13")
        return "#f7b6d2";
    else if (group == "14")
        return "#7f7f7f";
    else if (group == "15")
        return "#c7c7c7";
    else if (group == "16")
        return "#bcbd22";
    else if(group == "17")
        return "#dbdb8d";
    else if(group == "18")
        return "#17becf";
    else if(group == "19")
        return "#9edae5";
    else
        return "white";
}


var w = document.body.clientWidth,
    h = document.body.clientHeight,
    colors = pv.Colors.category19();

var vis = new pv.Panel()
    .width(500)
    .height(500)
    .event("mousedown", pv.Behavior.pan()) //dra funksjonen denne og, aktiveres for mer gøy
    .event("mousewheel", pv.Behavior.zoom());

var force = vis.add(pv.Layout.Force)
    .nodes(fbGraph.nodes)
    .links(fbGraph.links)
	.springConstant(0.05)

	.iterations(100)	//slå denne på for å ha et ikke bevegelig bilde, mer "brukervaennelig kanskje"
	.springLength(0.05)
	.chargeConstant(-40)
	.dragConstant(1)
	.springDamping(0.05)
    .bound(true);

force.link.add(pv.Line);

force.node.add(pv.Dot)
    .size(function(d) (d.linkDegree + 4) * Math.pow(this.scale, -1.5))
    .fillStyle(function(d) nodeColor(d.group))
    //.fillStyle(function(d) d.fix ? "brown" : colors(d.group))
    .strokeStyle(function() this.fillStyle().darker())
    .lineWidth(1)
    .title(function(d) d.name)
    .event("mousedown", pv.Behavior.drag()) //dra-funskjonen, gjør det laggy
    .event("drag", force); //same thing as above

 vis.render();
    </script>
    </div>
        </div>
    </div>
    <!--- Hent litt morro info -->

<h2> Fun facts about your facebook network </h2>
<table border="1"  left; margin-left: 5px; font-size: 12px; background-color:#EBEBEB;">
    <tr>
        <th> What? </th>
        <th> ID  </th>
        <th> Name </th>
        <th> Degree </th>
        <th> Betweenes Centraility </th>
    </tr>
    <tr>
        <td> Most Important Person </td>
        <td> {{ most_important[0] }} </td>
        <td> {{ most_important[1] }} </td>
        <td> {{ most_important[2] }}  </td>
        <td> {{ most_important[3] }} </td>
    </tr>
      <tr>
        <td> Less Important Person </td>
        <td> {{ smallest_node[0] }} </td>
        <td> {{ smallest_node[1] }} </td>
        <td> {{ smallest_node[2] }}  </td>
        <td> {{ smallest_node[3] }} </td>
    </tr>
</table>
<p style="font-size: 16px;">Number of communities: {{ communities + 1}}</p>

    <!--- Skrive ut alle communtiteis --->

<h2>Communities </h2>
    <p style="font-size: 16px"> Click on a friend to go directly to their facebook page.</p>
      {% for x in range(communities + 1)%}
            <table border="1" style="float: left; margin-left: 5px; font-size: 12px; background-color:#EBEBEB;">
            <tr><td style=" background-color:{{ c[x+1]}};">  {{ x }}</td></tr>
                {% for person in list_of_people %}
                    {% if x == person.community %}
                        <tr><td>  <a href="http://www.facebook.com/{{ person.id }}" target="_blank">{{ person.name }}</a> </td></tr>
                </tr>
            {% endif %}
        {% endfor %}
          </table>

      {% endfor %}



  </body>



{% endblock %}